[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/JoseLuisAparicio
[access "refs/for/refs/*"]
	read = group user/JoseLuisAparicio
	push = group user/JoseLuisAparicio
	label-Code-Review = -2..+2 group user/JoseLuisAparicio
	label-Verified = -1..+1 group user/JoseLuisAparicio
	rebase = group user/JoseLuisAparicio
	removeReviewer = group user/JoseLuisAparicio
	submit = group user/JoseLuisAparicio
[access "refs/heads/*"]
	read = group user/JoseLuisAparicio
	create = group user/JoseLuisAparicio
	push = +force group user/JoseLuisAparicio
	pushMerge = group user/JoseLuisAparicio
[access "refs/tags/*"]
	push = +force group user/JoseLuisAparicio
	pushTag = group user/JoseLuisAparicio
	pushSignedTag = group user/JoseLuisAparicio
